body{
    background-color: azure;
}
#mainContainer{
  position: absolute;
  width: 900px;
  z-index: 15;
  top: 25%;
  left: 40%;
  margin: -150px 0 0 -250px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

#header{
  position: absolute;
  z-index: 15;
  top: 15%;
  left: 40%;
  margin: -150px 0 0 -250px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.parent{
    height:auto;
}
#enterTitleAlert{
    display: none;
    font-size:1.5em;
    margin-bottom: 5px;
}
#movieSearchNameInput{
    margin-top:10px;
}
.hidden{
    display:none;
}
.leftIndent{
    margin-left: 5px;
}
i{
    font-size:1.1em;
}
#onSavedSuccessBar{
    color:green;
    font-size: 17px;
}
#resultsTitle{
    text-align:center
}
.rightIconIndent{
    margin-right: 5px;
}
#onStorageClearedSuccessBar{
    color:green;
}